.layer-1-1 {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 725px);
  width: 1440px;
  height: 2038px;
  object-fit: contain;
}
.python-app {
  top: calc(50% - 235.5px);
  left: calc(50% - 174px);
  color: var(--color-blue);
  width: 232px;
  height: 23px;
}
.python-app,
.results,
.search-algorithm,
.searching-algorithms-are {
  position: absolute;
  letter-spacing: -0.01em;
  display: inline-block;
}
.results {
  top: calc(50% - 235.5px);
  left: calc(50% - 45px);
  color: #bd00ff;
  width: 64px;
  height: 23px;
}
.search-algorithm,
.searching-algorithms-are {
  left: calc(50% - 174px);
}
.search-algorithm {
  margin: 0;
  top: calc(50% - 185.5px);
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: inherit;
  width: 294px;
  height: 117px;
}
.searching-algorithms-are {
  top: calc(50% - 54.5px);
  font-size: var(--font-size-xs);
  width: 309px;
  height: 115px;
}
.searchalgo-child {
  position: absolute;
  top: calc(50% - 294.5px);
  left: calc(50% - 225px);
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 450px;
  height: 589px;
}
.button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-25xl);
  background-color: var(--color-gray-100);
}
.join-today {
  position: absolute;
  top: 27.5%;
  left: 22.57%;
  font-size: var(--font-size-mini);
  letter-spacing: -0.01em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.button,
.definition {
  position: absolute;
  left: calc(50% + 45px);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 199.5px);
  width: 140px;
  height: 52px;
}
.definition {
  top: calc(50% - 235.5px);
  letter-spacing: -0.01em;
  display: inline-block;
  color: var(--color-yellow);
  width: 103px;
  height: 23px;
}
.searchalgo {
  position: absolute;
  top: calc(50% - 1290.5px);
  left: calc(50% - 487.5px);
  width: 450px;
  height: 589px;
}
.definition1,
.python-app1 {
  position: absolute;
  top: calc(50% - 235.5px);
  left: calc(50% - 174px);
  letter-spacing: -0.01em;
  display: inline-block;
  color: var(--color-blue);
  width: 232px;
  height: 42px;
}
.definition1 {
  left: calc(50% - 45px);
  color: var(--color-yellow);
  width: 103px;
  height: 23px;
}
.infix-to {
  margin: 0;
}
.infix-to-postfix-container {
  margin: 0;
  position: absolute;
  top: calc(50% - 185.5px);
  left: calc(50% - 174px);
  font-size: var(--font-size-21xl);
  letter-spacing: -0.01em;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 309px;
  height: 117px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% + 198.5px);
  left: calc(50% + 45px);
  width: 140px;
  height: 52px;
}
.inpost,
.meet-your-new {
  position: absolute;
  top: calc(50% - 1290.5px);
  left: calc(50% + 37.5px);
  width: 450px;
  height: 589px;
}
.meet-your-new {
  top: calc(50% - 114.5px);
  left: calc(50% - 174px);
  font-size: var(--font-size-xs);
  letter-spacing: -0.01em;
  display: inline-block;
  width: 309px;
  height: 115px;
}
.hashfunc,
.queue-deque {
  position: absolute;
  top: calc(50% - 626.5px);
  left: calc(50% - 487.5px);
  width: 450px;
  height: 589px;
}
.hashfunc {
  left: calc(50% + 37.5px);
  cursor: pointer;
}
.graphstrees-child,
.image-15-icon {
  position: absolute;
  top: calc(50% - 294.5px);
  left: calc(50% - 225px);
  width: 450px;
  height: 589px;
}
.image-15-icon {
  object-fit: cover;
}
.graphstrees-child {
  border-radius: var(--br-31xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.explore-and-sort {
  position: absolute;
  top: calc(50% - 68.5px);
  left: calc(50% - 174px);
  font-size: var(--font-size-xs);
  letter-spacing: -0.01em;
  display: inline-block;
  width: 309px;
  height: 115px;
}
.graphstrees {
  position: absolute;
  top: calc(50% + 37.5px);
  left: calc(50% - 487.5px);
  width: 450px;
  height: 589px;
}
.image-16-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.image-16-icon,
.more-child,
.sortingalgo {
  position: absolute;
  width: 450px;
  height: 589px;
}
.sortingalgo {
  top: 1328px;
  left: 525px;
}
.more-child {
  top: calc(50% - 294.5px);
  left: calc(50% - 225px);
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.experience-more-python,
.python-app6 {
  position: absolute;
  top: calc(50% - 235.5px);
  left: calc(50% - 174px);
  letter-spacing: -0.01em;
  display: inline-block;
  width: 232px;
  height: 42px;
}
.experience-more-python {
  margin: 0;
  top: calc(50% - 185.5px);
  font-size: var(--font-size-21xl);
  font-weight: 800;
  font-family: inherit;
  color: var(--color-black);
  width: 309px;
  height: 117px;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  top: calc(50% + 199.5px);
  left: calc(50% + 45px);
  width: 140px;
  height: 52px;
}
.apps,
.button6,
.more {
  position: absolute;
}
.more {
  top: calc(50% + 701.5px);
  left: calc(50% + 37.5px);
  width: 450px;
  height: 589px;
  color: var(--color-blue);
}
.apps {
  top: calc(50% - 1160px);
  left: calc(50% - 345px);
  width: 975px;
  height: 2581px;
}
.sidebar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 316px;
  height: 900px;
}
.sidebar-item {
  position: absolute;
  top: 518.5px;
  left: 96.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 158px;
  height: 1px;
}
.home {
  margin: 0;
  position: absolute;
  top: 339px;
  left: 97px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 232px;
  cursor: pointer;
}
.about-us,
.home,
.learn-more-about {
  letter-spacing: -0.01em;
  display: inline-block;
  height: 42px;
}
.about-us {
  margin: 0;
  position: absolute;
  top: 447px;
  left: 97px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  width: 232px;
  cursor: pointer;
}
.learn-more-about {
  top: 555px;
  font-size: 14px;
  font-weight: 300;
  width: 157px;
}
.contacts,
.learn-more-about,
.logowhite-icon {
  position: absolute;
  left: 97px;
}
.contacts {
  margin: 0;
  top: 393px;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 232px;
  height: 42px;
  cursor: pointer;
}
.logowhite-icon {
  top: 113px;
  width: 68px;
  height: 154px;
  object-fit: contain;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 329px;
  height: 900px;
  font-size: var(--font-size-5xl);
}
.applist {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 3030px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
