.a-queue-is {
  position: absolute;
  top: calc(50% - 75.75px);
  left: calc(50% - 532.5px);
  line-height: 28px;
  display: inline-block;
  width: 1065px;
  height: 151.5px;
}
.department-of-computer1 {
  position: absolute;
  top: calc(50% + 98.65px);
  left: calc(50% + 156.8px);
  line-height: 28px;
  display: inline-block;
  text-align: right;
  width: 375.7px;
  height: 29.4px;
}
.what-defines-the {
  margin: 0;
  position: absolute;
  top: calc(50% - 128.05px);
  left: calc(50% - 532.5px);
  font-size: var(--font-size-5xl);
  letter-spacing: -0.01em;
  line-height: 36px;
  font-weight: 700;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 607.8px;
  height: 39.2px;
}
.definition-of-infix-expression1 {
  position: absolute;
  top: calc(50% - 273px);
  left: calc(50% - 532.5px);
  width: 1065px;
  height: 256.1px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.the-dequeue-operation {
  margin: 0;
}
.definition-of-postfix-expressi1 {
  position: absolute;
  top: calc(50% + 16.9px);
  left: calc(50% - 532.5px);
  width: 1065px;
  height: 256.1px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.def2 {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 425px);
  width: 1065px;
  height: 546px;
}
.sidebar-child3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gray-300);
  width: 316px;
  height: 900px;
}
.sidebar-child4 {
  position: absolute;
  top: 518.5px;
  left: 96.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 158px;
  height: 1px;
}
.home5 {
  margin: 0;
  position: absolute;
  top: 339px;
  left: 97px;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 232px;
  height: 42px;
  cursor: pointer;
}
.about-us4 {
  margin: 0;
  position: absolute;
  top: 447px;
  left: 97px;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 232px;
  height: 42px;
  cursor: pointer;
}
.learn-more-about3 {
  position: absolute;
  top: 555px;
  left: 97px;
  font-size: var(--font-size-sm);
  letter-spacing: -0.01em;
  font-weight: 300;
  display: inline-block;
  width: 157px;
  height: 42px;
}
.contacts3 {
  margin: 0;
  position: absolute;
  top: 393px;
  left: 97px;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 232px;
  height: 42px;
  cursor: pointer;
}
.logowhite-icon3 {
  position: absolute;
  top: 113px;
  left: 97px;
  width: 68px;
  height: 154px;
  object-fit: contain;
}
.sidebar3 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 329px;
  height: 900px;
}
.results-child {
  position: absolute;
  top: calc(50% - 223.5px);
  left: calc(50% - 180px);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 360px;
  height: 447px;
}
.results2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 139.5px);
  left: calc(50% - 141px);
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 72px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 321px;
  height: 144px;
}
.results1 {
  position: absolute;
  top: calc(50% - 223.5px);
  left: calc(50% + 97.5px);
  width: 360px;
  height: 447px;
}
.type-your-infix1 {
  position: absolute;
  height: 33.33%;
  width: 100%;
  top: 1.19%;
  left: 0%;
  font-size: var(--font-size-sm);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.frame1 {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0%;
  left: 0%;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mini);
  color: var(--color-lightgray);
}
.ob-formstype-your-infix-notat1 {
  position: absolute;
  top: calc(50% - 49.5px);
  left: calc(50% - 165px);
  width: 260.1px;
  height: 84px;
  overflow: hidden;
}
.ob-formstype-your-infix-notat2 {
  position: absolute;
  top: calc(50% + 36.5px);
  left: calc(50% - 165px);
  width: 260.1px;
  height: 84px;
  overflow: hidden;
}
.name1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 28px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.ob-formssubmit1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-3xs) var(--padding-mini);
  background-color: var(--color-gray-200);
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% + 113.3px);
  border-radius: 24px;
  box-sizing: border-box;
  width: 66.7px;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ob-formssubmit2 {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-3xs) var(--padding-mini);
  background-color: var(--color-gray-200);
  position: absolute;
  top: calc(50% + 74.5px);
  left: calc(50% + 113.3px);
  border-radius: 29px;
  box-sizing: border-box;
  width: 66.7px;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.submit-field-child {
  position: absolute;
  top: calc(50% - 223.5px);
  left: calc(50% - 270px);
  border-radius: var(--br-11xl);
  background-color: rgba(217, 217, 217, 0);
  border: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 540px;
  height: 447px;
}
.submit-field1 {
  position: absolute;
  top: calc(50% - 223.5px);
  left: calc(50% - 397px);
  width: 540px;
  height: 447px;
}
.queue-deque2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 139.5px);
  left: calc(50% - 353px);
  font-size: var(--font-size-29xl);
  letter-spacing: -0.01em;
  line-height: 72px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 750px;
  height: 144px;
}
.queuedeque {
  margin: 0;
  position: absolute;
  top: calc(50% - 223.5px);
  left: calc(50% - 457.5px);
  width: 794px;
  height: 447px;
}
.queue {
  position: absolute;
  top: calc(50% - 766px);
  left: calc(50% - 350px);
  width: 915px;
  height: 447px;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
}
.quedeque {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1862px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
