<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/MemberPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&display=swap"
    />
  </head>
  <body>
    <div class="memberpage">
      <main class="people">
        <section class="miles">
          <div class="desc1">
            <b class="hi-im-miles">Hi, I’m Miles Hiceta</b>
            <div class="i-am-a-container">
              <p class="i-am-a">
                I am a student from Bachelor of Science in Computer Engineering
              </p>
              <p class="i-am-a">
                2nd year, section 4. I have a background on designing UI for
                websites
              </p>
              <p class="i-am-a">
                and now in studying Data Structure Analysis, I now understand
                and learned
              </p>
              <p class="i-am-a">the process of back end web development.</p>
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:milesdanieldhiceta@iskolarngbayan.pup.edu.ph">milesdanieldhiceta@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-1-icon" alt="" src="/static/css/public/image-1@2x.png" />
        </section>
        <section class="pierre">
          <div class="desc2">
            <b class="hi-im-pierre">Hi, I’m Pierre Zurbito</b>
            <div class="pierre-is-an">
              Pierre is an experienced video editor, layout artist, and school
              paper journalist from Carmona, Cavite. He is also a recipient of
              the Merit Scholarships granted by the Department of Science and
              Technology - SEI. Pierre is currently taking his bachelor's degree
              in computer engineering at Polytechnic University of the
              Philippines - Manila. Once graduated, Pierre plans to continue his
              studies by master's degree in the field of engineering and/or
              sciences.
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:pierrevictortzurbito@iskolarngbayan.pup.edu.ph">pierrevictortzurbito@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-2-icon" alt="" src="/static/css/public/image-2@2x.png" />
        </section>
        <section class="alexza">
          <div class="desc3">
            <b class="hi-im-miles">Hi, I’m Alexza Catanoy</b>
            <div class="hello-im-alexza">
              Hello, I'm Alexza Jean R. Catanoy, and I'm a dedicated and
              enthusiastic student currently pursuing a degree in Computer
              Engineering at Polytechnic University of the Philippines. My
              section is BSCPE 2-4. Currently living in Antipolo City. I am 19
              years of age. Beyond academics, I'm an active taekwondo player who
              is also a varsity player of our university who plays taekwondo. It
              has been my hobby ever since. I believe in the power of having a
              healthy body because it has a big impact on everything you do
              especially while studying.
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:alexzajeanrcatanoy@iskolarngbayan.pup.edu.ph">alexzajeanrcatanoy@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-3-icon" alt="" src="/static/css/public/image-3@2x.png" />
        </section>
        <section class="ruben">
          <div class="desc4">
            <b class="hi-im-ruben">Hi, I’m Ruben Vargas</b>
            <div class="hello-my-name">
              Hello, my name is Ruben A. Vargas, a Computer Engineering student
              (BSCPE 2-4) at Polytechnic University of the Philippines-Manila.
              I'm 20 years old and I grew up in Antipolo, Rizal. My hobbies
              include editing random videos, playing online games, and watching
              thriller movies.
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:rubenavargas@iskolarngbayan.pup.edu.ph">rubenavargas@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-2-icon" alt="" src="/static/css/public/image-4@2x.png" />
        </section>
        <section class="loraine">
          <div class="desc5">
            <b class="hi-im-miles">Hi, I’m Loraine Añonuevo</b>
            <div class="hello-im-alexza">
              Hi there! I'm Loraine Añonuevo, from the City of San Jose Del
              Monte Bulacan, a second-year college student in section BSCPE 2-4.
              I'm into programming and know my way around Python. Super eager to
              learn more about different types of programming stuff!
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:lorainenanonuevo@iskolarngbayan.pup.edu.ph">lorainenanonuevo@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-3-icon" alt="" src="/static/css/public/image-5@2x.png" />
        </section>
        <section class="lorenzo">
          <div class="desc6">
            <b class="hi-im-lorenzo">Hi, I’m Lorenzo Piñon</b>
            <div class="student-from-the-container">
              <p class="i-am-a">
                Student from the Polytechnic University of the
                Philippines-Manila (CpE 2-4).
              </p>
              <p class="i-am-a">
                Writes mostly in JavaScript and sometimes in Python and uses
                mongoDB with
              </p>
              <p class="i-am-a">
                mongoose wrapper. A self-taught discord bot developer with the
                discord.js as
              </p>
              <p class="i-am-a">
                a side hobby and does art when they have the time. 20 years old,
                he/him, from the province of Rizal.
              </p>
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:lorenzocpinon@iskolarngbayan.pup.edu.ph">lorenzocpinon@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-2-icon" alt="" src="/static/css/public/image-6@2x.png" />
        </section>
        <section class="sammael">
          <div class="desc51">
            <b class="hi-im-miles">Hi, I’m Sammael Magadia</b>
            <div class="hello-im-alexza">
              <p class="i-am-a">
                I am a student from Bachelor of Science in Computer Engineering
              </p>
              <p class="i-am-a">2nd year, section 4.</p>
              <p class="i-am-a">PUP Webmail: <i><a href="mailto:sjmomagadia@iskolarngbayan.pup.edu.ph">sjmomagadia@iskolarngbayan.pup.edu.ph</a></i></p>
            </div>
          </div>
          <img class="image-7-icon" alt="" src="/static/css/public/image-7@2x.png" />
        </section>
      </main>
      <h1 class="about-us">About Us</h1>
      <footer class="bottomtext"></footer>
      <header class="sectionnavbar1">
        <div class="home-group">
          <a href="/" style="color: black; text-decoration: none;" class="home">Home</a>
          <div class="about1" id="aboutText">About</div>
          <div class="products1" id="productsText">Apps</div>
          <div class="contact1" id="contactText">Contact</div>
        </div>
        <img class="asset-3-11" alt="" src="/static/css/public/asset-3-1@2x.png" />
      </header>
    </div>

    <script>
      var aboutText = document.getElementById("aboutText");
      if (aboutText) {
        aboutText.addEventListener("click", function (e) {
          window.location.href = "/MemberPage.html";
        });
      }
      
      var productsText = document.getElementById("productsText");
      if (productsText) {
        productsText.addEventListener("click", function (e) {
          window.location.href = "/AppList.html";
        });
      }
      
      var contactText = document.getElementById("contactText");
      if (contactText) {
        contactText.addEventListener("click", function (e) {
          window.location.href = "/MemberPage.html";
        });
      }
      </script>
  </body>
</html>
